@model IEnumerable<ShippingCalculator.Entities.Concrete.City>

@if (Model != null && Model.Count() > 0)
{
    <label class="control-label">Şehir</label>
    <select name="City_Id"
            class="form-control"
            asp-items="@(new SelectList(Model,"Id","Name"))" onchange="getCounties(this)"></select>
}
else
{
    <label class="control-label">Şehir</label>
    <select name="City_Id"
            class="form-control">
        <option>Şehir Bulunamadı</option>
    </select>
}
