@model IEnumerable<ShippingCalculator.Entities.Concrete.County>

@if (Model != null && Model.Count() > 0)
{
    <label class="control-label">İlçe</label>
    <select name="Counties_Id"
            class="form-control"
            asp-items="@(new SelectList(Model,"Id","Name"))"></select>
}
else
{
    <label class="control-label">Şehir</label>
    <select name="Counties_Id"
            class="form-control">
        <option>İlçe Bulunamadı</option>
    </select>
}
