@model IEnumerable<ShippingCalculator.Entities.Concrete.ShippingCompany>

@if (Model != null && Model.Count() > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>Kargo Şirketi</th>
                <th>Ücret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.Price ₺</td>
                </tr>
            }
        </tbody>
    </table>
}
