@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <a href="/geo/index" class="btn btn-primary">Bireysel Kullanıcı</a><br /><br />
        <a href="/geo/login" class="btn btn-primary">Kurumsal Kullanıcı</a>
    </div>
</div>