@model IEnumerable<ShippingCalculator.Entities.Concrete.Package>
<div class="form-group">
    <form id="desi_form">
        <input type="number" name="Width" id="width" placeholder="En(cm)" /><br /><br />
        <input type="number" name="Length" id="length" placeholder="Boy(cm)" /><br /><br />
        <input type="number" name="Height" id="height" placeholder="Yükseklik(cm)" /><br /><br />
        <input type="number" name="Weight" id="weigth" placeholder="Ağırlık(kg)" /><br /><br />
    </form>
    <button class="btn btn-success" onclick="packagePriceCalculate();">Hesapla</button>
    <button class="btn btn-success" onclick="addNewPackage();">Paket/Koli Ekle</button>
</div>
<script src="~/js/Home/home.js"></script>