@*@{
        ViewData["Title"] = "Home Page";
    }*@
<style>
        .container{ position: relative;}
    </style>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <a href="/home/main" class="btn btn-primary">YURTİÇİ GÖNDERİ</a>
                <a href="/home/main" class="btn btn-primary">YURTDIŞI GÖNDERİ</a>
            </div>
        </div>
    </div>
