@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <a href="/home/direct" class="btn btn-primary">Kullanıcı Girişi</a><br /><br />
        <a href="https://localhost:44384/home/login" class="btn btn-primary">Admin Girişi</a>
    </div>
</div>
