@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <a href="/geo/index" class="btn btn-primary">Bireysel Gönderi</a>
        <a href="/geo/login" class="btn btn-primary">Kurumsal Gönderi</a>
    </div>
</div>
